/* From Uiverse.io by vk-uiux */ 
/* MAIN */
/* =============================================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playwrite AU SA", serif;
}
body{
   background-image: url('assests/133510159_10141608.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
#maincont{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 20px 0 20px;
}
@media (max-width : 425px){
    #radiocont{
        height: 200em;
    }
}
#statusque{
  text-decoration: underline;
    font-size: 2em;
    color: white;
}
#radiocont{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.radio-input {
    background-color: #00000045;
    display: flex
;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
    padding: 20px 20px;
  }
  
  .radio-input * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  .radio-input label {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0px 20px;
    width: 100%;
    cursor: pointer;
    height: 50%;
    position: relative;
  }
  
  .radio-input label::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-radius: 10px;
    border: 2px solid transparent;
    padding: 2px 2px;
  }
  .radio-input label:hover::before {
    transition: all 0.2s ease;
    background-color: #2a2e3c;
  }
  
  .radio-input .label:has(input:checked)::before {
    background-color: #2d3750;
    border-color: #435dd8;
    height: 100%;
  }
  .radio-input .label .text {
    color: #fff;
    font-size: 1.7em;
  }
  
  .radio-input .label input[type="radio"] {
    background-color: #ffffff;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .radio-input .label input[type="radio"]:checked {
    background-color: #435dd8;
    -webkit-animation: puls 0.7s forwards;
    animation: pulse 0.7s forwards;
  }
  
  .radio-input .label input[type="radio"]:before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: #fff;
    transform: scale(0);
  }
  
  .radio-input .label input[type="radio"]:checked::before {
    transform: scale(1);
  }
  
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }
    70% {
      box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }
  

  /* From Uiverse.io by marcelodolza */ 
.button {
    --primary: #ff5569;
    --neutral-1: #f7f8f7;
    --neutral-2: #e7e7e7;
    --radius: 14px;
    text-decoration: none; cursor: pointer;
    border-radius: var(--radius);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    border: none;
    box-shadow: 0 0.5px 0.5px 1px rgba(255, 255, 255, 0.2),
      0 10px 20px rgba(0, 0, 0, 0.2), 0 4px 5px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease;
    min-width: 200px;
    padding: 20px;
    height: 68px;
    font-family: "Galano Grotesque", Poppins, Montserrat, sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
  }
  .button:hover {
    transform: scale(1.02);
    box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.3),
      0 15px 30px rgba(0, 0, 0, 0.3), 0 10px 3px -3px rgba(0, 0, 0, 0.04);
  }
  .button:active {
    transform: scale(1);
    box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.3),
      0 10px 3px -3px rgba(0, 0, 0, 0.2);
  }
  .button:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: var(--radius);
    border: 2.5px solid transparent;
    background: linear-gradient(var(--neutral-1), var(--neutral-2)) padding-box,
      linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.45))
        border-box;
    z-index: 0;
    transition: all 0.4s ease;
  }
  .button:hover::after {
    transform: scale(1.05, 1.1);
    box-shadow: inset 0 -1px 3px 0 rgba(255, 255, 255, 1);
  }
  .button::before {
    content: "";
    inset: 7px 6px 6px 6px;
    position: absolute;
    background: linear-gradient(to top, var(--neutral-1), var(--neutral-2));
    border-radius: 30px;
    filter: blur(0.5px);
    z-index: 2;
  }
  .state p {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .state .icon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: scale(1.25);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .state .icon svg {
    overflow: visible;
  }
  
  /* Outline */
  .outline {
    position: absolute;
    border-radius: inherit;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.4s ease;
    inset: -2px -3.5px;
  }
  .outline::before {
    content: "";
    position: absolute;
    inset: -100%;
    background: conic-gradient(
      from 180deg,
      transparent 60%,
      white 80%,
      transparent 100%
    );
    animation: spin 2s linear infinite;
    animation-play-state: paused;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .button:hover .outline {
    opacity: 1;
  }
  .button:hover .outline::before {
    animation-play-state: running;
  }
  a{
    text-decoration: none;
  }
  /* Letters */
  .state p span {
    display: block;
    opacity: 0;
    animation: slideDown 0.8s ease forwards calc(var(--i) * 0.03s);
  }
  .button:hover p span {
    opacity: 1;
    animation: wave 0.5s ease forwards calc(var(--i) * 0.02s);
  }
  .button:focus p span {
    opacity: 1;
    animation: disapear 0.6s ease forwards calc(var(--i) * 0.03s);
  }
  @keyframes wave {
    30% {
      opacity: 1;
      transform: translateY(4px) translateX(0) rotate(0);
    }
    50% {
      opacity: 1;
      transform: translateY(-3px) translateX(0) rotate(0);
      color: var(--primary);
    }
    100% {
      opacity: 1;
      transform: translateY(0) translateX(0) rotate(0);
    }
  }
  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-20px) translateX(5px) rotate(-90deg);
      color: var(--primary);
      filter: blur(5px);
    }
    30% {
      opacity: 1;
      transform: translateY(4px) translateX(0) rotate(0);
      filter: blur(0);
    }
    50% {
      opacity: 1;
      transform: translateY(-3px) translateX(0) rotate(0);
    }
    100% {
      opacity: 1;
      transform: translateY(0) translateX(0) rotate(0);
    }
  }
  @keyframes disapear {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translateX(5px) translateY(20px);
      color: var(--primary);
      filter: blur(5px);
    }
  }
  
  /* Plane */
  .state--default .icon svg {
    animation: land 0.6s ease forwards;
  }
  .button:hover .state--default .icon {
    transform: rotate(45deg) scale(1.25);
  }
  .button:focus .state--default svg {
    animation: takeOff 0.8s linear forwards;
  }
  .button:focus .state--default .icon {
    transform: rotate(0) scale(1.25);
  }
  @keyframes takeOff {
    0% {
      opacity: 1;
    }
    60% {
      opacity: 1;
      transform: translateX(70px) rotate(45deg) scale(2);
    }
    100% {
      opacity: 0;
      transform: translateX(160px) rotate(45deg) scale(0);
    }
  }
  @keyframes land {
    0% {
      transform: translateX(-60px) translateY(30px) rotate(-50deg) scale(2);
      opacity: 0;
      filter: blur(3px);
    }
    100% {
      transform: translateX(0) translateY(0) rotate(0);
      opacity: 1;
      filter: blur(0);
    }
  }
  
  /* Contrail */
  .state--default .icon:before {
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 0;
    left: -5px;
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5));
  }
  .button:focus .state--default .icon:before {
    animation: contrail 0.8s linear forwards;
  }
  @keyframes contrail {
    0% {
      width: 0;
      opacity: 1;
    }
    8% {
      width: 15px;
    }
    60% {
      opacity: 0.7;
      width: 80px;
    }
    100% {
      opacity: 0;
      width: 160px;
    }
  }
  
  /* States */
  .state {
    padding-left: 29px;
    z-index: 2;
    display: flex;
    position: relative;
    text-decoration: none;
  }
  .state--default span:nth-child(4) {
    margin-right: 5px;
  }
  .state--sent {
    display: none;
  }
  .state--sent svg {
    transform: scale(1.25);
    margin-right: 8px;
  }
  .button:focus .state--default {
    position: absolute;
  }
  .button:focus .state--sent {
    display: flex;
  }
  .button:focus .state--sent span {
    opacity: 0;
    animation: slideDown 0.8s ease forwards calc(var(--i) * 0.2s);
  }
  .button:focus .state--sent .icon svg {
    opacity: 0;
    animation: appear 1.2s ease forwards 0.8s;
  }
  @keyframes appear {
    0% {
      opacity: 0;
      transform: scale(4) rotate(-40deg);
      color: var(--primary);
      filter: blur(4px);
    }
    30% {
      opacity: 1;
      transform: scale(0.6);
      filter: blur(1px);
    }
    50% {
      opacity: 1;
      transform: scale(1.2);
      filter: blur(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  body{
  background-color: #2d2d2d;
  display: grid;
  place-items: center;
  margin: 0;
  height: 100vh;
  .inner {
    position: relative;
    width: 600px;
    height: 450px;
    svg {
      position: absolute;
      z-index: 1;
    }
  
    .greeting {
      width: 600px;
      margin: auto;
      svg.newyear1 {
        width: 100%;
        height: 140px;
        top: 65px;
        .anim1 {
          fill: none;
          stroke: #c5ba9a;
          stroke-linecap: round;
          stroke-miterlimit: 10;
          stroke-width: 10px;
          stroke-dasharray: 2824.187744140625;
          stroke-dashoffset: 2824.187744140625;
          animation: draw 2.7s linear 0.5s forwards;
        }
      }
      svg.newyear2 {
        width: 50%;
        margin: auto;
        height: 90px;
        top: 39%;
        left: 0;
        right: 0;
        @media only screen and (min-width: 680px) {
          width: 100%;
          height: 158px;
          top: 225px;
        }
        .anim2 {
          fill: none;
          stroke: #c5ba9a;
          stroke-linecap: round;
          stroke-miterlimit: 10;
          stroke-width: 10px;
          stroke-dasharray: 726.2219848632812;
          stroke-dashoffset: 726.2219848632812;
          animation: draw 1.2s linear 3.2s forwards;
        }
      }

      svg.underline {
        width: 88%;
        top: 170px;
        right: 0;
        width: 86%;
        @media only screen and (min-width: 680px) {
          top: 200px;
        }
        .underlineAnim {
          fill: none;
          stroke: #c5ba9a;
          stroke-linecap: round;
          stroke-miterlimit: 10;
          stroke-width: 10px;
          stroke-dasharray: 1452.0181884765625;
          stroke-dashoffset: 1452.0181884765625;
          animation: draw 0.4s linear 5.3s forwards;
        }
      }
      svg.shine {
        position: absolute;
        top: 20px;
        right: 0;
        left: 0;
        margin: auto;
        width: 100px;
        .shineAnim {
          fill: none;
          stroke: #c5ba9a;
          stroke-linecap: round;
          stroke-miterlimit: 10;
          stroke-width: 10px;
          stroke-dasharray: 441.998291015625;
          stroke-dashoffset: 441.998291015625;
          animation: draw 0.5s linear 4.6s forwards;
        }
      }
      
      @keyframes draw {
        to {
          stroke-dashoffset: 0;
        }
      }
    }
    .circles {
      .circle-l {
        height: 30px;
        width: 30px;
      }
      .circle-s {
        height: 12px;
        width: 12px;
      }
      .circle-l,
      .circle-s {
        background-color: #c6ba9b;
        border-radius: 50%;
        position: absolute;
        animation: scale 0.5s forwards ease-out;
        animation-iteration-count: 3;
        opacity: 0;
        &:nth-of-type(1) {
          left: 9%;
          top: 2%;
          animation-delay: 6s;
        }
        &:nth-of-type(2) {
          right: 10%;
          top: 10%;
          animation-delay: 6.2s;
        }
        &:nth-of-type(3) {
          left: 1%;
          top: 80%;
          animation-delay: 6.4s;
        }
        &:nth-of-type(4) {
          right: 30%;
          top: 95%;
          animation-delay: 6.7s;
        }
        &:nth-of-type(5) {
          right: 35%;
          top: 22%;
          animation-delay: 6.8s;
        }
        &:nth-of-type(6) {
          left: 16%;
          top: 55%;
          animation-delay: 7.1s;
        }
        &:nth-of-type(7) {
          left: 27%;
          top: 16%;
          animation-delay: 6.7s;
        }
        &:nth-of-type(8) {
          right: 5%;
          bottom: 24%;
          animation-delay: 6.5s;
        }
        &:nth-of-type(9) {
          left: 25%;
          bottom: 2%;
          animation-delay: 6.3s;
        }
        @keyframes scale {
          0% {
            opacity: 0;
            transform: scale3d(0, 0, 0);
          }
          100% {
            opacity: 1;
          }
        }
      }
    }
  }
}

